@import "tailwindcss";

:root {
	--background: oklch(0 0 0);
	--foreground: oklch(0.9851 0 0);
	--card: oklch(0 0 0);
	--card-foreground: oklch(0.9851 0 0);
	--popover: oklch(0 0 0);
	--popover-foreground: oklch(0.9851 0 0);
	--primary: oklch(0.5461 0.2152 262.8809);
	--primary-foreground: oklch(0.9842 0.0034 247.8575);
	--secondary: oklch(0.2686 0 0);
	--secondary-foreground: oklch(0.9851 0 0);
	--muted: oklch(0.2739 0.0055 286.0326);
	--muted-foreground: oklch(0.7118 0.0129 286.0665);
	--accent: oklch(0.2739 0.0055 286.0326);
	--accent-foreground: oklch(0.9851 0 0);
	--destructive: oklch(0.3958 0.1331 25.723);
	--destructive-foreground: oklch(0.9851 0 0);
	--border: oklch(0.2739 0.0055 286.0326);
	--input: oklch(0.2739 0.0055 286.0326);
	--ring: oklch(0.8711 0.0055 286.286);
	--chart-1: oklch(0.7857 0.1716 68.572);
	--chart-2: oklch(0.6739 0.1633 56.8909);
	--chart-3: oklch(0.5673 0.1563 47.2384);
	--chart-4: oklch(0.491 0.1442 43.4774);
	--chart-5: oklch(0.432 0.1284 42.8029);
	--sidebar: oklch(0.9923 0.0025 165.0774);
	--sidebar-foreground: oklch(0.2396 0.0117 167.5568);
	--sidebar-primary: oklch(0.6908 0.1909 45.0151);
	--sidebar-primary-foreground: oklch(0.9923 0.0025 165.0774);
	--sidebar-accent: oklch(0.9556 0.0035 174.4813);
	--sidebar-accent-foreground: oklch(0.2396 0.0117 167.5568);
	--sidebar-border: oklch(0.9314 0.0035 174.4779);
	--sidebar-ring: oklch(0.6908 0.1909 45.0151);
	--radius: 0.5rem;
	--shadow-x: -50px;
	--shadow-y: -50px;
	--shadow-blur: 0px;
	--shadow-spread: -50px;
	--shadow-opacity: 0;
	--shadow-color: #1a1a1a;
	--shadow-2xs: -50px -50px 0px -50px hsl(0 0% 10.1961% / 0);
	--shadow-xs: -50px -50px 0px -50px hsl(0 0% 10.1961% / 0);
	--shadow-sm:
		-50px -50px 0px -50px hsl(0 0% 10.1961% / 0), -50px 1px 2px -51px
		hsl(0 0% 10.1961% / 0);
	--shadow:
		-50px -50px 0px -50px hsl(0 0% 10.1961% / 0), -50px 1px 2px -51px
		hsl(0 0% 10.1961% / 0);
	--shadow-md:
		-50px -50px 0px -50px hsl(0 0% 10.1961% / 0), -50px 2px 4px -51px
		hsl(0 0% 10.1961% / 0);
	--shadow-lg:
		-50px -50px 0px -50px hsl(0 0% 10.1961% / 0), -50px 4px 6px -51px
		hsl(0 0% 10.1961% / 0);
	--shadow-xl:
		-50px -50px 0px -50px hsl(0 0% 10.1961% / 0), -50px 8px 10px -51px
		hsl(0 0% 10.1961% / 0);
	--shadow-2xl: -50px -50px 0px -50px hsl(0 0% 10.1961% / 0);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0 0 0);
	--foreground: oklch(0.9851 0 0);
	--card: oklch(0 0 0);
	--card-foreground: oklch(0.9851 0 0);
	--popover: oklch(0 0 0);
	--popover-foreground: oklch(0.9851 0 0);
	--primary: oklch(0.5461 0.2152 262.8809);
	--primary-foreground: oklch(0.9842 0.0034 247.8575);
	--secondary: oklch(0.2686 0 0);
	--secondary-foreground: oklch(0.9851 0 0);
	--muted: oklch(0.2739 0.0055 286.0326);
	--muted-foreground: oklch(0.7118 0.0129 286.0665);
	--accent: oklch(0.2739 0.0055 286.0326);
	--accent-foreground: oklch(0.9851 0 0);
	--destructive: oklch(0.3958 0.1331 25.723);
	--destructive-foreground: oklch(0.9851 0 0);
	--border: oklch(0.2739 0.0055 286.0326);
	--input: oklch(0.2739 0.0055 286.0326);
	--ring: oklch(0.8711 0.0055 286.286);
	--chart-1: oklch(0.592 0.249 0.584);
	--chart-2: oklch(0.488 0.243 264.376);
	--chart-3: oklch(0.596 0.145 163.225);
	--chart-4: oklch(0.769 0.188 70.08);
	--chart-5: oklch(0.541 0.281 293.009);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.274 0.006 286.033);
	--sidebar-ring: oklch(0.488 0.243 264.376);
	--radius: 0.5rem;
	--shadow-x: -50px;
	--shadow-y: -50px;
	--shadow-blur: 0px;
	--shadow-spread: -50px;
	--shadow-opacity: 0;
	--shadow-color: #000000;
	--shadow-2xs: -50px -50px 0px -50px hsl(0 0% 0% / 0);
	--shadow-xs: -50px -50px 0px -50px hsl(0 0% 0% / 0);
	--shadow-sm:
		-50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 1px 2px -51px hsl(0 0% 0% / 0);
	--shadow:
		-50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 1px 2px -51px hsl(0 0% 0% / 0);
	--shadow-md:
		-50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 2px 4px -51px hsl(0 0% 0% / 0);
	--shadow-lg:
		-50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 4px 6px -51px hsl(0 0% 0% / 0);
	--shadow-xl:
		-50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 8px 10px -51px
		hsl(0 0% 0% / 0);
	--shadow-2xl: -50px -50px 0px -50px hsl(0 0% 0% / 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

* {
	@apply border-border;
}

body {
	@apply bg-background text-foreground;
}
