---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/base-layout.astro";
import SeriesList from "@/components/series.astro";
import { buttonVariants } from "@/lib/button-utils";
import { ArrowLeft } from "lucide-preact";
import { cn } from "@/lib/utils";

const seriesList = (await getCollection("series")).filter(
  (s) => s.data.published
);
---

<BaseLayout title="All series">
  <div class="container mx-auto max-w-3xl px-4">
    <a
      href="/"
      class={cn(
        buttonVariants({ variant: "outline", size: "sm" }),
        "not-prose space-x-1 mb-6"
      )}
    >
      <ArrowLeft class="h-3.5 w-3.5" />
      <span class="text-sm">Home</span>
    </a>
    <h1 class="pb-10 text-4xl text-black dark:text-white">All Series</h1>
    <SeriesList seriesList={seriesList} />
  </div>
</BaseLayout>
