---
import { buttonVariants } from "@/lib/button-utils";
import { GITHUB_HANDLE, LINKEDIN_HANDLE, SITE_NAME, X_HANDLE } from "../consts";
import { cn } from "@/lib/utils";
import { Github, Linkedin, Rss } from "lucide-preact";

interface Props {
  postTitle?: string;
}

const { postTitle } = Astro.props;
---

<div class="sticky top-0 z-50 border-b bg-background/75 py-2 backdrop-blur">
  <div
    class="container mx-auto flex max-w-3xl items-center justify-between px-4"
  >
    <a
      class="text-lg font-extrabold underline-offset-2 hover:underline"
      href="/">{SITE_NAME}</a
    >
    {
      postTitle && (
        <span
          id="headerTitle"
          class="hidden truncate px-6 text-sm font-semibold text-muted-foreground"
        >
          {postTitle}
        </span>
      )
    }
    <div class="flex">
      <a
        class={cn(buttonVariants({ variant: "link" }), "cursor-pointer")}
        href="https://resume.abdllah.dev"
        target="_blank">Resume</a
      >
    </div>
  </div>
</div>

<script>
  window.addEventListener("scroll", (_) => {
    const title = document.querySelector("#title");
    const titleRect = title?.getBoundingClientRect();
    const isInViewport = (titleRect?.top as number) >= -100;
    const headerTitle = document.querySelector("#headerTitle");
    isInViewport
      ? headerTitle?.classList.remove("md:block")
      : headerTitle?.classList.add("md:block");
  });
</script>
