---
import { cn } from "@/lib/utils";
export interface Props {
	content: string;
	variant: "primary" | "warning" | "danger";
}

const { content, variant } = Astro.props;
---

<span
  class={cn(
    "inline-flex items-center justify-center rounded-full py-0.5 px-1.5 text-xs font-semibold whitespace-nowrap",
    {
      "bg-primary": variant === "primary",
      "bg-amber-500 text-black": variant === "warning",
      "bg-destructive": variant === "danger",
    }
  )}
>
  {content}
</span>
