---
import type { CollectionEntry } from "astro:content";

export interface Props {
  posts: Map<number, CollectionEntry<"blog">[]>;
}

const months = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec",
];

const { posts } = Astro.props;
---

<div>
  {
    [...posts.keys()].map((year) => {
      return (
        <>
          <h3 class="my-4 text-lg font-semibold">{year}</h3>
          {posts.get(year)?.map((post) => (
            <a
              href={`blog/${post.slug}`}
              class="flex space-x-6 whitespace-nowrap rounded-lg px-6 py-4 hover:bg-muted"
            >
              <span class="text-muted-foreground">{`${post.data.pubDate.getDay()} ${
                months[post.data.pubDate.getMonth()]
              }`}</span>
              <span class="truncate">{post.data.title}</span>
            </a>
          ))}
        </>
      );
    })
  }
</div>
