---
import type { CollectionEntry } from "astro:content";
import Pill from "@/components/pill.astro";

export interface Props {
  posts: Map<number, CollectionEntry<"blog">[]>;
}

const months = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec",
];

const { posts } = Astro.props;
---

<div>
  {
    [...posts.keys()].map((year) => {
      return (
        <>
          <h3 class="my-4 text-lg font-semibold">{year}</h3>
          {posts.get(year)?.map((post) => (
            <a
              href={`blog/${post.slug}`}
              class="flex justify-between whitespace-nowrap rounded-lg px-6 py-4 hover:bg-muted"
            >
              <div class="flex space-x-6">
                <span class="text-muted-foreground">{`${post.data.pubDate.getDay()} ${
                  months[post.data.pubDate.getMonth()]
                }`}</span>
                <span class="truncate">{post.data.title}</span>
              </div>

              {post.data.isWorkInProgress && (
                <Pill variant="warning" content="Work in Progress" />
              )}
            </a>
          ))}
        </>
      );
    })
  }
</div>
